/*banner*/

#ontubanv1290924{display:block}

/*update dot*/
#updbtdot{display:block;}

/*update content*/

#ontv1290924::after{
	content:'Updated on 12th October 2024. Please download the Updated Website.';
}


/*121024*/
/*banner*/

#ontubanv1121024{display:block}

/*update dot*/
#updbtdotv1121024{display:block;}

/*update content*/

#ontv1121024::after{
	content:'Updated on 15th October 2024. Please download the Updated Website.';
}


/*151024*/
/*banner*/

#ontubanv1151024{display:block}

/*update dot*/
.updbtdotv1121024{display:block;}

/*update content*/

#ontv1151024::after{
	content:'This version of Website is out of date please download new version.';
}
